<% include partial/header%>
<main class="container">
    <section class="eventList-section">
        <article class="col flex-60">
        <% evnts.forEach( e=> { %>
                <div class="parent">
                    <img src="/images/<%= e.cover_image%>" alt="" class="parent-img">
                    <div class="child">
                        <h2>
                            <%= e.title %>
                        </h2>
                        <div>
                            <span>
                                <%= e.start_date %>
                            </span> -
                            <span>
                                <%= e.end_date %>
                            </span>
                            <address>
                                <%= e.location %>
                            </address>
                        </div>
                        <a href="/events/<%= e._id %>">
                            <button>Details</button>
                        </a>
                    </div>

                </div>
            <% }) %>
        </article>
                <aside class="flex-30">
                        <div>
                            <a href="/events">All Events</a>
                  
                    <form action="/events/filter" method="GET">
                        <label for="cars">Filter by category</label> 
                          <select id="cars" name="category">
                            <%  for (let j = 0; j < evnts.length; j++){   %>
                      <option value="<%= evnts[j].event_category %>" ><%= evnts[j].event_category %> </option> 
                  <%  } %>
                          </select> 
                          <input type="submit" value="Check"/>
                        </form> 

                          <form action="/events/filter" method="GET">
                            <label for="vehi">Filter by location</label> 
                        <select name="location" id="vehi">
                            <%  for (let j = 0; j < evnts.length; j++){   %>
                                <option value="<%= evnts[j].location %>" ><%= evnts[j].location %> </option> 
                            <%  } %>
                        </select>
                        <input type="submit" value="Check"/>
                    </form>
                       <form action="/events/filter/" method="GET">
                        <label for="cars">Filter by date</label> 
                           <input type="date" placeholder="Start Date" name="start"> 
                           <input type="date" placeholder="End Date" name="end"> 
                           <input type="submit" value="Check">
                       </form>
                    </div>
                     </aside>
    </section>
</main>
    <% include partial/footer%>