<link rel="stylesheet" href="/stylesheets/style.css">

<div class="form-control">
    <form action="/events/<%=event._id%>" method="POST" enctype="multipart/form-data">
        <h2>Update Event</h2>
        <input type="text" name="title" placeholder="Title" value="<%= event.title %> ">
        <textarea name="summary" rows="5" placeholder="Summary">
            <%= event.summary %>
        </textarea>
        <input type="text" name="host" placeholder="Host" value=" <%= event.host %> ">
        <input type="date" name="start_date" placeholder="Start-Date" value="<%= format(event.start_date,'yyyy-MM-dd') %>">
        <input type="date" name="end_date" placeholder="End-Date" value="<%= format(event.end_date , 'yyyy-MM-dd') %>">
        <input type="file" name="cover_image" placeholder="Cover-Image">
        <img src="/images/<%= event.cover_image %>" alt="<%= event.cover_image %>">
        <input type="text" name="event_category" placeholder="Event Category" value=" <%= event.event_category %> ">
        <input type="text" name="location" placeholder="Location" value="<%=event.location%>">
        <div>
            <input type="submit" value="Update Event">
        </div>

    </form>
</div>